/*
Colour Codes for website theme:
ffc49b
ffefd3
adb6c4
294c60
001b2e
*/

div#index_content {
    width: 1885px;
    float: center;
    margin:0 auto;
}

body {
    background-color: #f2eadf;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#logo img {
    width: 250px;
    float: left;
    padding-left: 800px;
    height: 125px; 
    object-fit: cover;
}

nav {
    clear: both;
    text-align: center;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f1b12;

}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 30px;
    font-size: 30px;
    color: #af9178;
    transition: 0.2s;
}

nav li a:hover {
    background-color: #294c60;
}

#intro_content {
    float: left;
    text-align: left;
    width: 500px;
    padding-left: 450px;
}

#intro_content h1 {
    font-size: 50px;
}


#top_banner img {
    width: 1885px;
    position: relative;
    width: 100%;
    transition: transform 0.3s ease;
    z-index: 1;
}

#baking img {
    width: 550px;
    float: left;
    padding-left: 45px;
}

#special_deals {
    float: left;
    padding-left: 800px;
}

#special_deals h1 {
    font-size: 100px;;
}