/*
Colour Codes for website theme:
ffc49b
ffefd3
adb6c4
294c60
001b2e
*/

body {
    background-color: #f2eadf;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#logo img {
    width: 250px;
    float: left;
    padding-left: 800px;
    height: 125px; 
    object-fit: cover;
}

nav {
    clear: both;
    text-align: center;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f1b12;

}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 30px;
    font-size: 30px;
    color: #af9178;
    transition: 0.5s;
}

nav li a:hover {
    background-color: #294c60;
}

#top_banner img {
    width: 1885px;
}

#intro_content h1 {
    float: left;
    font-size: 80px;
}

#intro_content img {
    float: left;
    padding-left: 1000px;
}